html{font-size:62.5%}


#overlay_admin_ajax{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
   	flex-direction: row;
	background: rgba(255,255,255,0.5)
}


#overlay_admin_ajax i{
	display: block;
}

body{
	font-size: 16px;
}

.bar-menu{
	padding-top: 1rem;
	background: #000;
	padding-bottom: 1rem;
}


.navbar-provejal.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
}

.navbar-provejal.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #ffd000;
}

.navbar-brand{
	width: 100%;
	max-width: 200px;
}


.footer{
	width: 100%;
	min-height: 400px;
	background-size: cover;
	background-image: url("../../../img/pvj_footer_bg.jpg");
	background-position: center;
	padding-top: 10rem;

}


.logo-footer{
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}


.login{

	width: 100%;
	max-width: 420px;
	margin: 0 auto;

	border-radius: 10px;
	border: 1px solid #333;

}


.login .title{

	background: #ffd000;
	text-align: center;
	padding: 1rem 0.5rem;
	color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}

.login .content{
	padding: 2rem 1.5rem;
}


.login .content .btn{
	font-size: 1.6rem;
}

.login .content .form-login{
	width: 100%;
	padding-bottom: 2rem;
}


.login .content .form-login label{
	display: block;
	font-size: 1.6rem;

}


.login .content .form-login input{
	font-size: 1.6rem;
	width: 100%;
}
















