/*
 Styles Admin css
*/

#overlay_admin_ajax{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
   	flex-direction: row;
	background: rgba(255,255,255,0.5)
}


#overlay_admin_ajax i{
	display: block;
}


.crm-perms > label{
    font-weight: bold;
}

.crm-perms > .internet_pems{
    padding-left: 1em;
    box-sizing: border-box;
}


.navbar-provejal{
    
}

.brand-link.modified{
    display: flex;
    height: 3.5625rem; 
    padding: 0; 
}

.brand-link.modified > img {
    max-height: 3.4375rem;
}

.brand-link.modified > .brand-text {
    display: inline-flex;
    width: auto;
    text-align: center;
    align-items: center;
    white-space: break-spaces;
    line-height: 1.25;
}

.brand-link.modified > .brand-text.longer {
    font-size: 1.05rem;
}